<header [class.header_change]="header_variable">
    <div class="container">
        <div class= "row">
            <div class="col-md-6">
                <div class="logo">
                    <img src="C:\Users\Gustavo G\Desktop\TestesFrontEnd\testesFrontEnd\src\assets\ativo-4.png" alt="Logo">
                </div>
            </div>        
    <div class="col-md-6 text-right">
        <ul>

            <li routerLink="/home" routerLinkActive="active"></li>
            <li routerLinkActive="active">About</li>
            <li routerLinkActive="active">Gallery</li>
            <li routerLinkActive="active">Contact</li>
            <li routerLinkActive="active">Register</li>


        </ul>






    </div>
    
    
    
        </div>
    </div>

    



</header>
<img class ="tamanho" src="https://i.imgur.com/g5qeTKq.jpg" alt="">


<div class="grande">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem voluptatum est impedit dolor, laborum sequi at nisi. Sit iusto, quidem rem ab adipisci nihil earum dignissimos repellat, explicabo, perferendis maxime.</p>
</div>
